/** variables */
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto&display=swap");

@font-face {
  font-family: "Constantia";
  src: url("http://localhost:3000/fonts/constan.ttf");
}

/** components/main-navigation/index.tsx */
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.sticky + .content {
  padding-top: 56px;
}

#navbar {
  background-color: white;
  z-index: 100;
}

.nav-wrapper {
  position: relative;
}

/** container */
.section-container {
  max-width: $large;
  margin: 0px auto;
}

// Sub Menu CSS

.submenu-container {
  display: flex;
  justify-content: center;
  z-index: 5;
  border: 1px #d2d2d2 solid;
  padding: 1rem;
  text-align: center;
}

.submenu-container .submenu ul {
  list-style-type: none;
  padding: 0px;
  text-align: right;
}

.submenus {
  display: flex;
}

.submenu,
.image-showcase {
  padding: 25px;
}

.submenu-container .submenu h3 {
  font-size: 1.2em;
  line-height: 1.2em;
}

.submenu-container .submenu li {
  font-size: 1em;
  padding: 5px 0px;
}

.submenu-container .image-showcase img {
  max-width: 200px;
}

.submenu-container .image-showcase p {
  font-size: 0.8em;
  padding: 5px 0px;
}

.test {
  color: red;
  font-size: 14px;
}

a {
  color: #353535;
}

a:hover {
  color: #b3b3b3;
}